/* =============================== */
/* ==========!NAVIGATION========== */
/* =============================== */

$line-height-text: 30px;
$line-height-toggle: 14px;

$triangle-size: 6px;
$triangle-color: $color-metal;
$triangle-position: 15px;

/* ----------!DROPDOWN---------- */
.dropdown-menu {
	background-color: $color-metal;
	}
.dropdown-menu:after {
	border-left: $triangle-size solid $color-transparent;
	border-right: $triangle-size solid $color-transparent;
	border-bottom: $triangle-size solid $triangle-color;
	margin-top: (-$triangle-size);
	right: $triangle-position;
	}
.dropdown-menu > li + li {
	border-top: 1px solid $color-charcoal;
	}
.dropdown-menu > li > a {
	@extend .p-xs-10;
	background-color: $color-transparent;
	margin: 0;
	font-weight: $font-weight-2;
	line-height: $line-height-text;
	color: $color-aluminium;
	}
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: $color-tin;
	color: $color-white;
	}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:active,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:focus {
	background-color: $color-blue-300;
	color: $color-white;
	}

/* ----------!NAVBAR---------- */
.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
	font-weight: $font-weight-2;
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-nav > li > a {
	@extend .p-xs-15;
	background-color: $color-transparent;
	margin: 0;
	line-height: $line-height-text;
	}
@include media-breakpoint-up(md) {
	.navbar .navbar-brand {
	    @extend .p-md-20;
		}
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-search,
.navbar .navbar-menu,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a > .caret {
	color: $color-metal;
	}
.navbar .navbar-brand:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-search:active,
.navbar .navbar-search:hover,
.navbar .navbar-search:focus,
.navbar .navbar-menu:active,
.navbar .navbar-menu:hover,
.navbar .navbar-menu:focus,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li.show > a,
.navbar .navbar-nav > li.show > a:active,
.navbar .navbar-nav > li.show > a:hover,
.navbar .navbar-nav > li.show > a:focus {
	background-color: $color-ghost;
	color: $color-metal;
	}
.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a.active:active,
.navbar .navbar-nav > li > a.active:hover,
.navbar .navbar-nav > li > a.active:focus,
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:active,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus {
	background-color: $color-transparent;
	color: $color-blue-300;
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-search,
.navbar .navbar-nav > li > a {
	padding-top: (($header-height-xs - $line-height-text) / 2);
	padding-bottom: (($header-height-xs - $line-height-text) / 2);
	}
@include media-breakpoint-up(lg) {
	.navbar .navbar-brand,
	.navbar .navbar-text,
	.navbar .navbar-search,
	.navbar .navbar-nav > li > a {
	    padding-top: (($header-height-lg - $line-height-text) / 2);
		padding-bottom: (($header-height-lg - $line-height-text) / 2);
		}
	}
.navbar .navbar-menu {
    padding-top: (($header-height-xs - $line-height-toggle) / 2);
	padding-bottom: (($header-height-xs - $line-height-toggle) / 2);
	}
@include media-breakpoint-up(lg) {
	.navbar .navbar-menu {
		padding-top: (($header-height-lg - $line-height-toggle) / 2);
		padding-bottom: (($header-height-lg - $line-height-toggle) / 2);
		}
	}
.navbar .navbar-nav > li.dropdown > .dropdown-menu {
	min-width: 340px;
	}

/* ----------!OFFCANVAS---------- */
.offcanvas-menu .nav > li > a,
.offcanvas-menu .nav > li.dropdown > .dropdown-menu > li > a, {
	@extend .p-xs-15;
	background-color: $color-transparent;
	margin: 0;
	padding-top: (($header-height-xs - $line-height-text) / 2);
	padding-bottom: (($header-height-xs - $line-height-text) / 2);
	line-height: $line-height-text;
	}
.offcanvas-menu .nav > li > a {
	font-weight: $font-weight-2;
	color: $color-metal;
	}
.offcanvas-menu .nav > li > a:active,
.offcanvas-menu .nav > li > a:hover,
.offcanvas-menu .nav > li > a:focus,
.offcanvas-menu .nav > li.show > a,
.offcanvas-menu .nav > li.show > a:active,
.offcanvas-menu .nav > li.show > a:hover,
.offcanvas-menu .nav > li.show > a:focus {
	background-color: $color-transparent;
	color: $color-metal;
	}
.offcanvas-menu .nav > li.active > a,
.offcanvas-menu .nav > li.active > a:active,
.offcanvas-menu .nav > li.active > a:hover,
.offcanvas-menu .nav > li.active > a:focus {
	background-color: $color-transparent;
	color: $color-blue-300;
	}
.offcanvas-menu .nav > li.dropdown > a > .caret {
	border-top-color: $color-metal !important;
	border-bottom-color: $color-metal !important;
	}
.offcanvas-menu .nav > li.dropdown > .dropdown-menu > li > a {
	padding-left: $line-height-text;
	}

/* =========================== */
/* ==========!BUTTON========== */
/* =========================== */

/* ----------!BASIC---------- */
button,
.btn {
	padding: 4px 14px;
	}
.btn-default {
	@include color($color-button-default);
	}
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:hover,
.btn-default:focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus {
	@include color($color-button-default-hover);
	}
.btn-link {
	@include color($color-button-link);
	}

/* ----------!HOLLOW---------- */
.btn-hollow {
	@include color($color-button-hollow);
	font-weight: $font-weight-1 !important;
	}
.btn-hollow.active,
.btn-hollow.active.focus,
.btn-hollow.active:hover,
.btn-hollow.active:focus,
.btn-hollow.focus,
.btn-hollow:active,
.btn-hollow:active.focus,
.btn-hollow:active:hover,
.btn-hollow:active:focus,
.btn-hollow:hover,
.btn-hollow:focus,
.open > .dropdown-toggle.btn-hollow,
.open > .dropdown-toggle.btn-hollow.focus,
.open > .dropdown-toggle.btn-hollow:hover,
.open > .dropdown-toggle.btn-hollow:focus {
	@include color($color-button-hollow-hover);
	}

/* ----------!STYLE---------- */
.btn-pill {
	border-radius: 20px !important;
	}
.btn-lean {
	@include color($color-button-hollow);
	padding: 14px 30px !important;
	line-height: 10px;
	}

/* ----------!SIZE---------- */
@include media-breakpoint-up(sm) {
	.btn-width {
		max-width: 210px;
		}
	}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body {
	@include color($color-body);
	padding-top: $header-height-xs;
	}
@include media-breakpoint-up(lg) {
	#body {
		padding-top: $header-height-lg;
		}
	}

/* ----------!OFFCANVAS---------- */
#offcanvas {
	@include color($color-offcanvas);
	// -webkit-box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	// 		box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	}
#offcanvas .logo {
	padding: 10px 15px;
	}

/* ----------!HEADER---------- */
#header {
	@include color($color-header);
	border-bottom: 1px solid;
	}
#header .logo {
    width: 30px;
    max-width: none;
    height: 30px;
	}

/* ----------!BAR---------- */
#bar {
	@include color($color-bar);
	border-bottom: 1px solid;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	}

/* ----------!MAIN---------- */
#main {
	@include color($color-main);
	}

/* ----------!FOOTER---------- */
#footer {
	@include color($color-footer);
	}
#footer .copyright {
	margin-left: -15px !important;
	}

/* =============================== */
/* ==========!RESPONSIVE========== */
/* =============================== */

/* ----------!PHONE---------- */
@include media-breakpoint-down(xs) {
	br,
	.ajax-loader {
		display: none;
		}
	address br {
		display: block;
		}
	.sidebar,
	.sidebar [class*="space-"],
	.hidden-xs + [class*="col-"] {
		padding-top: 0 !important;
		}
	}

/* ----------!TABLET---------- */
@include media-breakpoint-up(sm) {

	}

/* ----------!CLASSIC---------- */
@include media-breakpoint-up(md) {

	}

/* ----------!LAPTOP---------- */
@include media-breakpoint-up(lg) {
	@include bottom($footer-height-lg);
	}

/* ----------!DESKTOP---------- */
@include media-breakpoint-up(xl) {

	}

/* ----------!WIDE---------- */
@include media-breakpoint-up(hg) {
	.container {
	    max-width: 1280px;
		}
	}

/* ----------!CINEMA---------- */
@include media-breakpoint-up(gt) {
	.container {
	    max-width: 1440px;
		}
	}
