/* =============================== */
/* ==========!NAVIGATION========== */
/* =============================== */

/* ----------!DROPDOWN---------- */
.dropdown .dropdown-toggle.no-caret::after {
	content: normal;
	}
.dropdown .dropdown-toggle .avatar {
	width: 30px;
	height: 30px;
	}
.dropdown .dropdown-menu {
	margin-top: -10px;
	padding: 9px 0;
	min-width: 210px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	}
.dropdown .dropdown-menu,
.dropdown .dropdown-menu .dropdown-divider {
	border-color: $color-smoke;
	}
.dropdown .dropdown-menu .dropdown-divider {
	margin: 9px 0 10px;
	}
.dropdown .dropdown-menu .dropdown-header,
.dropdown .dropdown-menu .dropdown-text,
.dropdown .dropdown-menu .dropdown-item {
	margin: 0;
	padding: 0 19px;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	}
.dropdown .dropdown-menu .dropdown-header,
.dropdown .dropdown-menu .dropdown-text {
	color: $color-smoke;
	}
.dropdown .dropdown-menu .dropdown-item {
	color: $color-metal;
	cursor: pointer;
	}
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus {
	background-color: $color-ghost;
	color: $color-metal;
	}
.dropdown .dropdown-menu .dropdown-item.active,
.dropdown .dropdown-menu .dropdown-item.active:active,
.dropdown .dropdown-menu .dropdown-item.active:hover,
.dropdown .dropdown-menu .dropdown-item.active:focus {
	background-color: $color-brand-blue-300;
	color: $color-white;
	cursor: default;
	}

/* ----------!NAVBAR---------- */
.navbar .navbar-brand,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > button {
	font-weight: $font-weight-2;
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > button {
	@extend .p-xs-15;
	background-color: $color-transparent;
	margin: 0;
	line-height: $line-height-text;
	}
@include media-breakpoint-up(lg) {
	.navbar .navbar-brand {
		@extend .p-lg-20;
		}
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-search,
.navbar .navbar-menu,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a > .caret,
.navbar .navbar-nav > li > button,
.navbar .navbar-nav > li > button > .caret {
	color: $color-metal;
	}
.navbar .navbar-brand:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-search:active,
.navbar .navbar-search:hover,
.navbar .navbar-search:focus,
.navbar .navbar-menu:active,
.navbar .navbar-menu:hover,
.navbar .navbar-menu:focus,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > button:active,
.navbar .navbar-nav > li > button:hover,
.navbar .navbar-nav > li > button:focus,
.navbar .navbar-nav > li.show > a,
.navbar .navbar-nav > li.show > a:active,
.navbar .navbar-nav > li.show > a:hover,
.navbar .navbar-nav > li.show > a:focus,
.navbar .navbar-nav > li.show > button,
.navbar .navbar-nav > li.show > button:active,
.navbar .navbar-nav > li.show > button:hover,
.navbar .navbar-nav > li.show > button:focus {
	background-color: $color-ghost;
	color: $color-metal;
	}
.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a.active:active,
.navbar .navbar-nav > li > a.active:hover,
.navbar .navbar-nav > li > a.active:focus,
.navbar .navbar-nav > li > button.active,
.navbar .navbar-nav > li > button.active:active,
.navbar .navbar-nav > li > button.active:hover,
.navbar .navbar-nav > li > button.active:focus,
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:active,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus,
.navbar .navbar-nav > li.active > button,
.navbar .navbar-nav > li.active > button:active,
.navbar .navbar-nav > li.active > button:hover,
.navbar .navbar-nav > li.active > button:focus {
	background-color: $color-transparent;
	color: $color-brand-blue-300;
	cursor: default;
	}
.navbar .navbar-nav > li > a.no-focus:active,
.navbar .navbar-nav > li > a.no-focus:focus,
.navbar .navbar-nav > li > button.no-focus:active,
.navbar .navbar-nav > li > button.no-focus:focus {
	background-color: $color-transparent;
	}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-search,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > button {
	padding-top: (($header-height-xs - $line-height-text) / 2);
	padding-bottom: (($header-height-xs - $line-height-text) / 2);
	}
@include media-breakpoint-up(lg) {
	.navbar .navbar-brand,
	.navbar .navbar-text,
	.navbar .navbar-search,
	.navbar .navbar-nav > li > a,
	.navbar .navbar-nav > li > button {
		padding-top: (($header-height-lg - $line-height-text) / 2);
		padding-bottom: (($header-height-lg - $line-height-text) / 2);
		}
	}
.navbar .navbar-menu {
	padding-top: (($header-height-xs - $line-height-toggle) / 2);
	padding-bottom: (($header-height-xs - $line-height-toggle) / 2);
	}
@include media-breakpoint-up(lg) {
	.navbar .navbar-menu {
		padding-top: (($header-height-lg - $line-height-toggle) / 2);
		padding-bottom: (($header-height-lg - $line-height-toggle) / 2);
		}
	}

/* ----------!OFFCANVAS---------- */
.offcanvas-menu .nav > li > a {
	@extend .p-xs-15;
	background-color: $color-transparent;
	margin: 0;
	padding-top: (($header-height-xs - $line-height-text) / 2);
	padding-bottom: (($header-height-xs - $line-height-text) / 2);
	line-height: $line-height-text;
	}
.offcanvas-menu .nav > li > a {
	font-weight: $font-weight-2;
	color: $color-metal;
	}
.offcanvas-menu .nav > li > a:active,
.offcanvas-menu .nav > li > a:hover,
.offcanvas-menu .nav > li > a:focus,
.offcanvas-menu .nav > li.show > a,
.offcanvas-menu .nav > li.show > a:active,
.offcanvas-menu .nav > li.show > a:hover,
.offcanvas-menu .nav > li.show > a:focus {
	background-color: $color-transparent;
	color: $color-metal;
	}
.offcanvas-menu .nav > li.active > a,
.offcanvas-menu .nav > li.active > a:active,
.offcanvas-menu .nav > li.active > a:hover,
.offcanvas-menu .nav > li.active > a:focus {
	background-color: $color-transparent;
	color: $color-blue-300;
	}

/* =========================== */
/* ==========!BUTTON========== */
/* =========================== */

/* ----------!BASIC---------- */
.btn-initial {
	min-width: 130px;
	}
.btn-default {
	@include color($color-button-default);
	}
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:hover,
.btn-default:focus {
	@include color($color-button-default-hover);
	}
.btn-link {
	@include color($color-button-link);
	}

/* ----------!HOLLOW---------- */
.btn-hollow {
	@include color($color-button-hollow);
	font-weight: $font-weight-1 !important;
	}
.btn-hollow.active,
.btn-hollow.active.focus,
.btn-hollow.active:hover,
.btn-hollow.active:focus,
.btn-hollow.focus,
.btn-hollow:active,
.btn-hollow:active.focus,
.btn-hollow:active:hover,
.btn-hollow:active:focus,
.btn-hollow:hover,
.btn-hollow:focus {
	@include color($color-button-hollow-hover);
	}

/* ----------!STYLE---------- */
.btn-pill {
	border-radius: 20px !important;
	}
.btn-lean {
	@include color($color-button-hollow);
	padding: 14px 30px !important;
	line-height: 10px;
	}

/* ----------!SIZE---------- */
@include media-breakpoint-up(sm) {
	.btn-width {
		max-width: 210px;
		}
	}

/* ========================= */
/* ==========!FORM========== */
/* ========================= */

/* ----------!WIDTH---------- */
@include media-breakpoint-up(lg) {
	#form-register,
	#form-login {
		width: 340px;
		}
	#form-search {
		width: 890px;
		}
	}

/* ----------!SEARCH---------- */
#form-search .input-group-append {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	}
#form-search .input-group-append .btn-location,
#form-search .input-group-append .btn-reset {
	border: 0 none $color-transparent;
	}
#form-search .input-group-append .btn-search {
	margin-left: 15px;
	}
#form-search #search {
	padding-right: 155px;
	}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body {
	@include color($color-body);
	}

/* ----------!ROOT---------- */
#root {
	padding-top: $header-height-xs;
	}
@include media-breakpoint-up(lg) {
	#root {
		padding-top: $header-height-lg;
		}
	}

/* ----------!OFFCANVAS---------- */
#offcanvas {
	@include color($color-offcanvas);
	// -webkit-box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	// 		box-shadow: inset 5px 0 20px -10px rgba(0, 0, 0, 0.2);
	}
#offcanvas .logo {
	padding: 10px 15px;
	}

/* ----------!HEADER---------- */
#header {
	@include color($color-header);
	border-bottom: 1px solid;
	}
#header .logo {
    width: 30px;
    max-width: none;
    height: 30px;
	}

/* ----------!BAR---------- */
#bar {
	@include color($color-bar);
	border-bottom: 1px solid;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	}

/* ----------!MAIN---------- */
#main {
	@include color($color-main);
	}

/* ----------!FOOTER---------- */
#footer {
	@include color($color-footer);
	}
@include media-breakpoint-up(lg) {
	#footer .copyright {
		margin-right: -15px !important;
		}
	}

/* =============================== */
/* ==========!RESPONSIVE========== */
/* =============================== */

/* ----------!PHONE---------- */
@include media-breakpoint-down(xs) {
	br,
	.ajax-loader {
		display: none;
		}
	address br {
		display: block;
		}
	.sidebar,
	.sidebar [class*="space-"],
	.hidden-xs + [class*="col-"] {
		padding-top: 0 !important;
		}
	}

/* ----------!TABLET---------- */
@include media-breakpoint-up(sm) {

	}

/* ----------!CLASSIC---------- */
@include media-breakpoint-up(md) {

	}

/* ----------!LAPTOP---------- */
@include media-breakpoint-up(lg) {
	@include bottom($footer-height-lg);
	}

/* ----------!DESKTOP---------- */
@include media-breakpoint-up(xl) {

	}

/* ----------!WIDE---------- */
@include media-breakpoint-up(hg) {
	.container {
	    max-width: 1280px;
		}
	}

/* ----------!CINEMA---------- */
@include media-breakpoint-up(gt) {
	.container {
	    max-width: 1440px;
		}
	}
