/* ========================= */
/* ==========!CARD========== */
/* ========================= */

/* ----------!PANEL---------- */
.card-panel {
	background-color: $color-white;
	border-color: $color-smoke;
	}
.card-panel .card-body {
	padding: 29px;
	}
.card-panel .card-body svg {
	margin-right: 8px;
	}
.card-panel .card-body figure + .card-headline,
.card-panel .card-body img + .card-headline,
.card-panel .card-body figure + .card-tagline,
.card-panel .card-body img + .card-tagline,
.card-panel .card-body figure + .card-meta,
.card-panel .card-body img + .card-meta,
.card-panel .card-body .card-headline + .card-meta,
.card-panel .card-body .card-tagline + .card-meta,
.card-panel .card-body figure + .card-statistic,
.card-panel .card-body img + .card-statistic,
.card-panel .card-body .card-headline + .card-statistic,
.card-panel .card-body .card-tagline + .card-statistic,
.card-panel .card-body .card-meta + .card-statistic {
	padding-top: 30px; // 30px spacing
	}
.card-panel .card-body .card-headline + .card-tagline {
	padding-top: 7px; // 15px spacing
	}
.card-panel .card-body .card-headline {
	@extend [class*="xs-20"];
	@extend .p-xs-20;
	}
.card-panel .card-body .card-tagline {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}
.card-panel .card-body .avatar {
	height: 210px;
	}
.card-panel .card-body .btn {
	margin-top: 80px;
	}
