/* ========================= */
/* ==========!CARD========== */
/* ========================= */

/* ----------!PANEL---------- */
.card-panel {
	background-color: $color-smoke;
	border: 0 none $color-transparent;
	}
.card-panel .card-body {
	padding: 30px;
	}
