/* ========================= */
/* ==========!GRID========== */
/* ========================= */

/* ----------!BREAK---------- */
$grid-breakpoints: (
	xs:							0,			// PHONE	0
	sm:							576px,		// TABLET	576px
	md:							768px,		// CLASSIC	768px
	lg:							992px,		// LAPTOP	992px
	xl:							1200px,		// DESKTOP	1200px
	hg:							1440px,		// WIDE		1440px
	gt:							1712px		// CINEMA	1712px
) !default;

/* ========================= */
/* ==========!SIZE========== */
/* ========================= */

/* ----------!FONT---------- */
$font-size-base:				20px;		// 20px is default

/* ----------!TEXT---------- */
$line-height-text:				30px;
$line-height-toggle:			14px;

/* ----------!HEADER---------- */
$header-height-xs:				50px;
$header-height-lg:				50px;

/* ----------!FOOTER---------- */
$footer-height-xs:				0;
$footer-height-lg:				0;

/* ========================== */
/* ==========!COLOR========== */
/* ========================== */

/* ----------!SHADE---------- */
$color-transparent:				transparent;
$color-white:					#fff;
$color-snow:					#fffafa;
$color-ghost:					#fafafa;
$color-phantom:					#f8f8f8;
$color-spectre:					#f5f5f5;
$color-cloud:					#f3f3f3;
$color-dust:					#eee;
$color-smoke:					#e5e5e5;
$color-steel:					#ddd;
$color-grey:					#ccc;
$color-aluminium:				#aaa;
$color-stone:					#444;
$color-charcoal:				#333;
$color-tin:						#2a2a2a;
$color-metal:					#222;
$color-night:					#111;
$color-void:					#101010;
$color-black:					#000;

/* ----------!TINT---------- */
$color-red-300:					#ffa0a0;
$color-red-400:					#f04040;
$color-orange-300:				#ffb78c;
$color-orange-400:				#ff853c;
$color-yellow-300:				#ffec8b;
$color-yellow-400:				#fc0;
$color-green-300:				#c3ff88;
$color-green-400:				#8dff1c;
$color-blue-200:				#66afe9;
$color-blue-300:				#428bca;
$color-blue-400:				#337ab7;
$color-blue-400-30:				rgba(51, 122, 183, 0.3);
$color-blue-500:				#3276b1;
$color-blue-600:				#23527c;

/* ----------!BRAND---------- */
$color-brand-black-300:			$color-night;
$color-brand-blue-200:			#80bdff;
$color-brand-blue-300:			#007bff;
$color-brand-blue-400:			#0056b3;
$color-brand-green-400:			#28a745;

/* ----------!GENERAL---------- */
$color-general-bronze-C8AA6E: 	#C8AA6E;
$color-general-bronze-C8A96C: 	#C8A96C;
$color-general-bronze-7A5C29: 	#7A5C29;
$color-general-grey-3C3C41:		#3C3C41;
$color-general-grey-1E2328:		#3C3C41;
$color-general-blue-BEF6F5:		#BEF6F5;
$color-general-blue-257EA3:		#257EA3;
$color-general-blue-09BCD6:		#09BCD6;
$color-general-midnight-010C16:	#010C16;
$color-general-midnight-010C16-80:	rgba(1, 12, 22, 0.8);

/* ----------!TEXT---------- */
$color-text-cream-F1E6D0:		#F1E6D0;
$color-text-yellow-CDBE91:		#CDBE91;
$color-text-blue-B2D9DB:		#B2D9DB;
$color-text-iron-A09A8E:		#A09A8E;
$color-text-gold-937341:		#937341;
$color-text-grey-434647:		#434647;
$color-text-green-38A53D:		#38A53D;
$color-text-bronze-5D4623: 		#5D4623;

/* ----------!FORM---------- */
$color-form-bronze-382B19:		#382B19;
$color-form-grey-0C0C14:		#0C0C14;
$color-form-grey-0C0C14-80:		rgba(12, 12, 20, 0.8);

/* ----------!REGION---------- */
$color-body:					($color-general-midnight-010C16, null, null);
$color-offcanvas:				($color-ghost, $color-smoke !important, null);
$color-header:					($color-general-midnight-010C16-80, null, null);
$color-bar:						($color-blue-400, $color-blue-400 !important, null);
$color-main:					(null, null, null);
$color-footer:					(null, null, null);
$color-modal:					(null, null, null);

/* ----------!BUTTON---------- */
$color-button-default:			(null, null, null);
$color-button-default-hover:	(null, null, null);
$color-button-alternate:		(null, null, null);
$color-button-alternate-hover:	(null, null, null);
$color-button-hollow:			($color-transparent !important, rgba(255, 255, 255, 0.8) !important, $color-white !important);
$color-button-hollow-hover:		(rgba(255, 255, 255, 0.3) !important, rgba(255, 255, 255, 0.8) !important, null);
$color-button-form:				(null, null, null);
$color-button-form-hover:		(null, null, null);
$color-button-link:				(null, null, $color-general-blue-09BCD6);
$color-button-link-hover:		(null, null, $color-general-blue-09BCD6);

/* ----------!SELECTION---------- */
$color-selection:				($color-general-blue-09BCD6, null, $color-text-cream-F1E6D0);

/* ----------!ALERT---------- */
$color-alert-tip:				(null, null, $color-red-400 !important);
$color-alert-failure:			($color-red-300 !important, $color-red-400 !important, null);
$color-alert-danger:			($color-orange-300 !important, $color-orange-400 !important, null);
$color-alert-warning:			($color-yellow-300 !important, $color-yellow-400 !important, null);
$color-alert-success:			($color-green-300 !important, $color-green-400 !important, null);
