/* ========================= */
/* ==========!GRID========== */
/* ========================= */

$dashboard-void-sm: 0;
$dashboard-void-md: 0;
$dashboard-void-lg: 210px;

/* ----------!VOID---------- */
@include media-breakpoint-up(sm) {
    .dashboard .void {
        margin-right: $dashboard-void-sm;
    }
    .dashboard #header,
    .dashboard #main,
    .dashboard #footer {
        margin-left: $dashboard-void-sm;
    }
    .dashboard #toolbar {
        width: $dashboard-void-sm;
    }
}
@include media-breakpoint-up(md) {
    .dashboard .void {
        margin-right: $dashboard-void-md;
    }
    .dashboard #header,
    .dashboard #main,
    .dashboard #footer {
        margin-left: $dashboard-void-md;
    }
    .dashboard #toolbar {
        width: $dashboard-void-md;
    }
}
@include media-breakpoint-up(lg) {
    .dashboard .void {
        margin-right: $dashboard-void-lg;
    }
    .dashboard #header,
    .dashboard #main,
    .dashboard #footer {
        margin-left: $dashboard-void-lg;
    }
    .dashboard #toolbar {
        width: $dashboard-void-lg;
    }
}

/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!MAIN---------- */
.dashboard {
    background-color: $color-phantom;
}

/* ========================== */
/* ==========!SPACE========== */
/* ========================== */

/* ----------!GUTTER---------- */
@include media-breakpoint-up(lg) {
    .dashboard .block .container-fluid,
    .dashboard #header .container-fluid,
    .dashboard #footer .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!HEADER---------- */
.dashboard #header {
    border-bottom: 1px solid $color-smoke !important;
}

/* ----------!TOOLBAR---------- */
.dashboard #toolbar {
    background-color: $color-metal;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.dashboard #toolbar .toolbar-brand,
.dashboard #toolbar .toolbar-text,
.dashboard #toolbar .toolbar-nav > li > a {
    @extend .p-xs-15;
    background-color: $color-transparent;
    margin: 0;
    padding: 10px 20px;
    font-weight: $font-weight-2;
    line-height: $line-height-text;
    color: $color-white;
    display: block;
}
.dashboard #toolbar .toolbar-brand {
    border-bottom: 1px solid $color-charcoal;
}
@include media-breakpoint-up(lg) {
    .dashboard #toolbar .toolbar-brand {
        @extend .p-lg-20;
        padding-top: (($header-height-lg - $line-height-text) / 2);
        padding-bottom: (($header-height-lg - $line-height-text) / 2);
    }
}
.dashboard #toolbar .toolbar-nav {
    padding-top: 14px;
}
.dashboard #toolbar .toolbar-nav > li > a:active,
.dashboard #toolbar .toolbar-nav > li > a:hover,
.dashboard #toolbar .toolbar-nav > li > a:focus {
    background-color: $color-charcoal;
}
.dashboard #toolbar .toolbar-nav > li > a.active,
.dashboard #toolbar .toolbar-nav > li > a.active:active,
.dashboard #toolbar .toolbar-nav > li > a.active:hover,
.dashboard #toolbar .toolbar-nav > li > a.active:focus,
.dashboard #toolbar .toolbar-nav > li > button.active,
.dashboard #toolbar .toolbar-nav > li > button.active:active,
.dashboard #toolbar .toolbar-nav > li > button.active:hover,
.dashboard #toolbar .toolbar-nav > li > button.active:focus,
.dashboard #toolbar .toolbar-nav > li.active > a,
.dashboard #toolbar .toolbar-nav > li.active > a:active,
.dashboard #toolbar .toolbar-nav > li.active > a:hover,
.dashboard #toolbar .toolbar-nav > li.active > a:focus,
.dashboard #toolbar .toolbar-nav > li.active > button,
.dashboard #toolbar .toolbar-nav > li.active > button:active,
.dashboard #toolbar .toolbar-nav > li.active > button:hover,
.dashboard #toolbar .toolbar-nav > li.active > button:focus {
    background-color: $color-brand-blue-300;
    cursor: default;
}
.dashboard #toolbar .toolbar-nav + .toolbar-nav {
    border-top: 1px solid $color-charcoal;
    margin-top: 15px;
}

/* ========================== */
/* ==========!TABLE========== */
/* ========================== */

/* ----------!USER---------- */
.dashboard .table-user .label:first-child {
    width: 5%;
}
.dashboard .table-user .label:last-child {
    width: 10%;
}
.dashboard .table-user .label-3,
.dashboard .table-user .label-4 {
    width: 15%;
}
