/* ========================= */
/* ==========!FLAG========== */
/* ========================= */

/* ----------!MAIN---------- */
.flag {
	background-color: $color-charcoal;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 20px;
	color: $color-white;
	}
