/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!FORM---------- */
form .form-group {
	margin: 0;
	}
form .form-group + .form-group {
	margin-top: 20px;
	}
form .row + .row {
	padding-top: 20px;
	}
form .row + .gap {
	padding-top: 50px;
	}
@include media-breakpoint-down(md) {
	form [class*="col-"] + [class*="col-"] {
		padding-top: 20px !important;
		}
	}

/* ----------!LABEL---------- */
label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
    display: block;
	}
label i,
label span {
	cursor: pointer;
	}
label span,
label input[type=checkbox] {
    vertical-align: middle;
    }
label input[type=checkbox] {
    margin-right: 8px;
    }

/* ----------!INPUT---------- */
// input[type="checkbox"] {
// 	display: none;
// 	}
// input[type="checkbox"] + label {
// 	width: 100%;
// 	font-weight: 400;
// 	}
// input[type="checkbox"] + label i {
// 	color: rgba(0, 0, 0, 0);
// 	}
// input[type="checkbox"]:checked + label i {
// 	color: inherit;
// 	}
// input[type="checkbox"] + label span {
// 	padding-right: 0 !important;
// 	}
input,
select {
	cursor: initial;
	}
textarea {
	width: 100%;
	height: auto !important;
	resize: vertical;
	}

/* ============================== */
/* ==========!BOOTSTRAP========== */
/* ============================== */

/* ----------!FORM---------- */
.form-group-sm label i,
.form-group-sm label span {
	padding: 3px 15px;
	height: 28px;
	}
.form-group-sm label i {
	padding: 6px;
	width: 28px;
	}
.form-group-lg label i,
.form-group-lg label span {
	padding: 10px 15px;
	height: 45px;
	font-size: 18px;
	line-height: 1.33;
	}
.form-group-lg label i {
	padding: 10px;
	width: 45px;
	font-size: 22px;
	line-height: 1.1;
	}
@include media-breakpoint-up(sm) {
	.form-group .split {
		margin: 0;
		}
	}

/* ----------!ICON---------- */
.form-group-icon {
	position: relative;
	}
.form-group-icon .icon {
	margin: 0;
	padding: 12px 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	}
.form-group-icon .icon .fa {
	width: 20px;
	line-height: 20px;
	}
.form-group-icon-left .icon {
	left: 0;
	}
.form-group-icon-left .form-control {
	padding-left: 50px;
	}
.form-group-icon-right .icon {
	right: 0;
	}
.form-group-icon-right .form-control {
	padding-right: 50px;
	}

/* ----------!SELECT---------- */
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	margin: 0;
	width: 100%;
	display: block;
	}
.bootstrap-select .btn,
.bootstrap-select .btn:hover,
.bootstrap-select .btn:focus {
	background-color: $color-white;
	border-color: $color-grey;
	border-radius: 0 !important;
	color: #555;
	}
.bootstrap-select .btn:focus {
	border-color: $color-blue-200;
	outline: 0 auto $color-transparent !important;
	outline-offset: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	}

/* ============================== */
/* ==========!OVERWRITE========== */
/* ============================== */

/* ----------!WRAPPER---------- */
.gform_wrapper label {
	display: none;
	}
.gform_wrapper .gfield_required {
	padding-left: 1px;
	color: #b94a48;
	}

/* ----------!HEADING---------- */
.gform_heading .gform_description {
	display: block;
	}

/* ----------!ROW---------- */
.gform_fields,
.gform_fields .gfield .ginput_complex,
.ms-membership-form-wrapper .form {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0;
	list-style: none;
	}
@include media-breakpoint-up(sm) {
	.gform_fields,
	.gform_fields .gfield .ginput_complex,
	.ms-membership-form-wrapper .form  {
		margin-left: -7px;
		margin-right: -7px;
		}
	}

/* ----------!COLUMN---------- */
.gform_fields .gfield .ginput_complex span,
.ms-membership-form-wrapper .form > p {
	padding-left: 15px;
	padding-right: 15px;
	min-height: 1px;
	position: relative;
	display: block;
	}
.ms-membership-form-wrapper .form > p {
	width: 100%;
	float: left;
	}
@include media-breakpoint-up(sm) {
	.gform_fields .gfield,
	.gform_fields .gfield .ginput_complex span,
	.ms-membership-form-wrapper .form > p {
		padding-left: 7px;
		padding-right: 7px;
		}
	.gform_fields .gfield .ginput_complex .ginput_left,
	.gform_fields .gfield .ginput_complex .ginput_right,
	.gform_fields .gfield .ginput_complex.has_first_name.has_last_name span {
		width: 50%;
		float: left;
		}
	}

/* ----------!INPUT---------- */
.ginput_container input,
.ginput_container select,
.ginput_container textarea,
.ms-membership-form-wrapper input:not([type="checkbox"]):not([type="submit"]),
.ms-membership-form-wrapper select,
.ms-membership-form-wrapper textarea {
	background-color: $color-white;
	background-image: none;
	border: 1px solid $color-grey;
	padding: 6px 12px;
	width: 100%;
	height: 35px;
	color: $color-charcoal;
	display: block;
	vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
.ginput_container input::-webkit-input-placeholder,
.ginput_container input::-moz-placeholder,
.ginput_container input:-moz-placeholder,
.ginput_container input:-ms-input-placeholder,
.ginput_container select::-webkit-input-placeholder,
.ginput_container select::-moz-placeholder,
.ginput_container select:-moz-placeholder,
.ginput_container select:-ms-input-placeholder,
.ginput_container textarea::-webkit-input-placeholder,
.ginput_container textarea::-moz-placeholder,
.ginput_container textarea:-moz-placeholder,
.ginput_container textarea:-ms-input-placeholder {
	color: #999;
	}
.ginput_container input:focus,
.ginput_container select:focus,
.ginput_container textarea:focus {
	border-color: $color-blue-200;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
.ginput_container input[disabled],
.ginput_container input[readonly],
.ginput_container select[disabled],
.ginput_container select[readonly],
.ginput_container textarea[disabled],
.ginput_container textarea[readonly],
fieldset[disabled] .ginput_container input,
fieldset[disabled] .ginput_container select,
fieldset[disabled] .ginput_container textarea {
	cursor: not-allowed;
	background-color: #eee;
	}
.ms-membership-form-wrapper input[type="checkbox"],
.ms-membership-form-wrapper input[type="checkbox"] + label {
	margin: 0;
	padding: 0;
	font-weight: 300;
	line-height: 1;
	display: block;
	float: left;
	}
.ms-membership-form-wrapper input[type="checkbox"] + label {
	margin-left: 15px;
	}

/* ----------!BUTTON---------- */
.gform_button,
.ms-membership-form-wrapper input[type="submit"] {
	background-color: $color-blue-300;
	border: 1px solid #357ebd;
	margin-bottom: 0;
	padding: 6px 12px;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	color: $color-white;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
	}
.gform_button:active,
.gform_button:hover,
.gform_button:focus,
.gform_button.active,
.open .dropdown-toggle.gform_button,
.ms-membership-form-wrapper input[type="submit"]:active,
.ms-membership-form-wrapper input[type="submit"]:hover,
.ms-membership-form-wrapper input[type="submit"]:focus,
.ms-membership-form-wrapper input[type="submit"].active {
	background-color: $color-blue-500;
	border-color: #285e8e;
	text-decoration: none;
	color: $color-white;
	}
.gform_button:focus,
.ms-membership-form-wrapper input[type="submit"]:focus {
	outline: 0 auto transparent;
	outline-offset: 0;
	}
.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button,
.ms-membership-form-wrapper input[type="submit"]:active,
.ms-membership-form-wrapper input[type="submit"].active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
.gform_button[disabled],
.gform_button.disabled,
fieldset[disabled] .gform_button,
.ms-membership-form-wrapper input[type="submit"][disabled],
.ms-membership-form-wrapper input[type="submit"].disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
			box-shadow: none;
	}
.gform_button[disabled],
.gform_button[disabled]:active,
.gform_button[disabled]:hover,
.gform_button[disabled]:focus,
.gform_button[disabled].active,
.gform_button.disabled,
.gform_button.disabled:active,
.gform_button.disabled:hover,
.gform_button.disabled:focus,
.gform_button.disabled.active,
fieldset[disabled] .gform_button,
fieldset[disabled] .gform_button:active,
fieldset[disabled] .gform_button:hover,
fieldset[disabled] .gform_button:focus,
fieldset[disabled] .gform_button.active {
	background-color: $color-blue-300;
	border-color: #357ebd;
	}
@include media-breakpoint-up(sm) {
	.gform_button,
	.ms-membership-form-wrapper .ms-form-login input[type="submit"] {
		width: 130px;
		}
	}

/* ----------!PROGRESS---------- */
.ms-membership-form-wrapper .progress {
	background: $color-transparent;
	border-radius: 0;
	margin: 0;
	height: auto;
	overflow: visible;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	}

/* ----------!SPECIAL---------- */
.ms-membership-form-wrapper .form > .wdfb_login_button {
	margin-bottom: 0 !important;
	}
.ms-membership-form-wrapper .nav {
	padding-top: 12px;
	}
@media (max-width: 767px) {
	.ms-membership-form-wrapper .form > .wdfb_login_button,
	.ms-membership-form-wrapper .nav {
		width: 50%;
		}
	.ms-membership-form-wrapper .form > .wdfb_login_button {
		text-align: right;
		float: right;
		}
	.ms-membership-form-wrapper .ms-form-login .nav {
		margin-top: -33px;
		}
	}
@include media-breakpoint-up(sm) {
	.ms-membership-form-wrapper .form > .login-remember,
	.ms-membership-form-wrapper .form > .login-submit,
	.ms-membership-form-wrapper .form > .wdfb_login_button {
		width: 50%;
		}
	.ms-membership-form-wrapper .form > .wdfb_login_button {
		margin-top: -22px;
		}
	.ms-membership-form-wrapper .nav {
		padding-top: 8px;
		}
	}

/* ----------!SPACE---------- */
.gform_fields {
	margin-top: -15px;
	}
.gform_fields .gfield {
	margin: 0;
	}
.gform_footer,
.gform_fields .gfield,
.gform_fields .gfield .ginput_complex span + span,
.ms-membership-form-wrapper .form > p + p {
	padding-top: 15px;
	}
@include media-breakpoint-up(sm) {
	.gform_fields .gfield .ginput_complex.has_first_name.has_last_name span + span,
	.gform_fields .gfield .ginput_complex.ginput_container_email span + span,
	.gform_fields .flat .ginput_complex span + span {
		padding-top: 0;
		}
	}

/* ========================== */
/* ==========!ALERT========== */
/* ========================== */

/* ----------!ERROR---------- */
.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	}
.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus {
	border-color: #b94a48;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
	}
.gform_wrapper .gfield_error .gfield_label {
	color: #b94a48;
	}

/* ----------!MESSAGE---------- */
.validation_error,
.gforms_confirmation_message {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	padding: 15px;
	color: #b94a48;
	}
.validation_error h4,
.gforms_confirmation_message h4 {
	margin-top: 0;
	color: inherit;
	}
.validation_error > p,
.validation_error > ul,
.gforms_confirmation_message > p,
.gforms_confirmation_message > ul {
	margin-bottom: 0;
	}
.validation_error > p + p,
.gforms_confirmation_message > p + p {
	margin-top: 5px;
	}
.validation_error hr,
.gforms_confirmation_message hr {
	border-top-color: #e6c1c7;
	}
.validation_error .alert-link,
.gforms_confirmation_message .alert-link {
	font-weight: 700;
	color: #953b39;
	}

/* ----------!FORM---------- */
.strength h3 {
	margin-bottom: 25px;
	}
.strength p {
	font-size: 16px;
	}
.strength a {
	font-weight: 700;
	text-decoration: underline;
	color: inherit;
	}
span.wpcf7-form-control-wrap {
	display: block;
	}

/* ----------!TIP---------- */
span.wpcf7-not-valid-tip,
.validation_message {
	position: absolute;
	font-size: 10px;
	line-height: 15px;
	color: #f04040;
	display: block;
	}
span.wpcf7-not-valid-tip {
	padding: 2px 0;
	right: 0;
	}
.validation_message.instruction {
	padding-right: 15px;
	right: 0;
	}
@include media-breakpoint-up(sm) {
	.validation_message.instruction {
		padding-right: 10px;
		}
	}

/* ----------!DEFAULT---------- */
.status,
.strength,
.mc4wp-alert,
.validation_error,
.gforms_confirmation_message,
div.wpcf7-response-output {
	background-color: #eee !important;
	border: 1px solid #ddd !important;
	position: relative;
	color: #000;
	}
.status,
.strength,
.mc4wp-alert,
.validation_error,
.gforms_confirmation_message,
div.wpcf7-response-output {
	border: 0 none $color-transparent !important;
	margin: 50px 0 0;
	padding: 15px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 14px;
	font-weight: 300;
    line-height: 20px;
	text-align: center;
	color: $color-white;
	z-index: 1000;
	}
.strength,
.gforms_confirmation_message ~ .wdfb_login_button {
	display: none;
	}

/* ----------!FAILURE---------- */
.status.error,
.strength.short,
.mc4wp-error,
.validation_error,
div.wpcf7-validation-errors {
	background-color: #ffa0a0 !important;
	border-color: #f04040 !important;
	display: block;
	}

/* ----------!DANGER---------- */
.strength.error,
.strength.bad {
	background-color: #ffb78c !important;
	border-color: #ff853c !important;
	display: block;
	}

/* ----------!WARNING---------- */
.strength.good,
.mc4wp-notice {
	background-color: #ffec8b !important;
	border-color: #fc0 !important;
	display: block;
	}

/* ----------!SUCCESS---------- */
.status,
.strength.strong,
.mc4wp-success,
.gforms_confirmation_message,
div.wpcf7-mail-sent-ok {
	background-color: #c3ff88 !important;
	border-color: #8dff1c !important;
	display: block;
	}

/* ============================= */
/* ==========!FACEBOOK========== */
/* ============================= */

/* ----------!LOGIN---------- */
.wdfb_login_button iframe {
	background: none;
	}

/* =========================== */
/* ==========!FORMAT========== */
/* =========================== */

/* ----------!HORIZONTAL---------- */
@include media-breakpoint-up(sm) {
	.horizontal {
		font-size: 0; // This removes the browser generated spaces for "inline-block" elements (The space is a character space, so setting the font-size to zero makes the size of the space zero as well).
		}
	.horizontal,
	.horizontal p {
		text-align: center;
		}
	.horizontal input:not(.gform_button) {
		width: 340px;
		}
	.horizontal .gform_heading,
	.horizontal .gform_body,
	.horizontal .gform_footer {
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		}
	.horizontal .gform_body {
		margin-right: 7px;
		}
	.horizontal .gform_heading,
	.horizontal .gform_body,
	.horizontal .gform_body *:not(label):not(input),
	.horizontal .gform_footer,
	.horizontal .gform_fields,
	.horizontal .gform_fields .gfield {
		margin: 0;
		padding: 0;
		}
	}

/* ========================= */
/* ==========!SIZE========== */
/* ========================= */

/* ----------!LARGE---------- */
.form-large .gform_wrapper input,
.form-large .gform_wrapper select,
.form-large .gform_wrapper textarea,
.form-large .gform_wrapper button,
.form-large .ms-membership-form-wrapper input:not([type="checkbox"]),
.form-large .ms-membership-form-wrapper select,
.form-large .ms-membership-form-wrapper textarea,
.form-large .ms-membership-form-wrapper button {
	padding: 10px 15px;
	height: 50px;
	font-size: 18px;
	line-height: 1.33;
	}

/* ============================= */
/* ==========!SECURITY========== */
/* ============================= */

/* ----------!CODE---------- */
.security-code-input {
	padding-top: 20px;
	}
.security-code-image {
	height: 46px;
	}
@include media-breakpoint-up(sm) {
	.security-code-image,
	.security-code-input {
		float: left;
		}
	.security-code-input {
		padding-top: 0;
		padding-left: 20px;
		width: calc(100% - 186px);
		}
	}
