/* ========================== */
/* ==========!SPACE========== */
/* ========================== */

@mixin space($device, $array) {
	@each $value in $array {
		.space-#{$device}-#{$value} {
			padding-top: #{$value}px !important;
			padding-bottom: #{$value}px !important;
			}
		.node-#{$device}-#{$value} + .node-#{$device}-#{$value} {
			padding-top: #{$value}px !important;
			}
		}
	}

$space: (0, 10, 20, 30, 50, 80, 130, 210, 340);

/* ----------!BUILD---------- */
%space-reset {
	padding-top: 0 !important;
	}
@for $i from 0 to 10 {
	.color-#{$i}:not([class*="carousel"]):not([class*="hero"]) + .color-#{$i}:not([class*="carousel"]):not([class*="hero"]) .zone {
		@extend %space-reset;
		}
	}
@include space('xs', $space);

@include media-breakpoint-up(sm) {
	@include space('sm', $space);
	}
@include media-breakpoint-up(md) {
	@include space('md', $space);
	}
@include media-breakpoint-up(lg) {
	@include space('lg', $space);
	}
@include media-breakpoint-up(xl) {
	@include space('xl', $space);
	}

/* =========================== */
/* ==========!BOTTOM========== */
/* =========================== */

@mixin bottom($value) {
	.bottom #main {
		margin-bottom: $value;
		}
	.bottom #footer {
		height: $value;
		}
	}

/* ========================== */
/* ==========!COLOR========== */
/* ========================== */

@mixin color($list) {
	background-color: nth($list, 1);
	border-color: nth($list, 2);
	color: nth($list, 3);
	}
