/* ========================= */
/* ==========!GRID========== */
/* ========================= */

/* ----------!BLOCK---------- */
.block {
	position: relative;
	overflow: hidden;
	}
.container-fluid > .block {
	margin-left: -15px;
	margin-right: -15px;
	}

/* ----------!ROW---------- */
.row {
	padding: 0;
	list-style: none;
	}

/* ----------!ALIGN---------- */
.justify-content-left {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
	}
.justify-content-right {
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
	}

/* ----------!GUTTER---------- */
.gutter-xs-0 {
	margin: 0;
	}
.gutter-xs-0 > [class^="col"] {
	padding: 0;
	}
.gutter-xs-10 {
	margin: -5px;
	}
.gutter-xs-10 > [class^="col"] {
	padding: 5px;
	}
.gutter-xs-20 {
	margin: -10px;
	}
.gutter-xs-20 > [class^="col"] {
	padding: 10px;
	}
.gutter-xs-30 {
	margin: -15px;
	}
.gutter-xs-30 > [class^="col"] {
	padding: 15px;
	}
.gutter-xs-50 {
	margin: -25px;
	}
.gutter-xs-50 > [class^="col"] {
	padding: 25px;
	}
.gutter-xs-80 {
	margin: -40px;
	}
.gutter-xs-80 > [class^="col"] {
	padding: 40px;
	}
@include media-breakpoint-up(sm) {
	.gutter-sm-0 {
		margin: 0;
		}
	.gutter-sm-0 > [class^="col"] {
		padding: 0;
		}
	.gutter-sm-10 {
		margin: -5px;
		}
	.gutter-sm-10 > [class^="col"] {
		padding: 5px;
		}
	.gutter-sm-20 {
		margin: -10px;
		}
	.gutter-sm-20 > [class^="col"] {
		padding: 10px;
		}
	.gutter-sm-30 {
		margin: -15px;
		}
	.gutter-sm-30 > [class^="col"] {
		padding: 15px;
		}
	.gutter-sm-50 {
		margin: -25px;
		}
	.gutter-sm-50 > [class^="col"] {
		padding: 25px;
		}
	.gutter-sm-80 {
		margin: -40px;
		}
	.gutter-sm-80 > [class^="col"] {
		padding: 40px;
		}
	}
@include media-breakpoint-up(md) {
	.gutter-md-0 {
		margin: 0;
		}
	.gutter-md-0 > [class^="col"] {
		padding: 0;
		}
	.gutter-md-10 {
		margin: -5px;
		}
	.gutter-md-10 > [class^="col"] {
		padding: 5px;
		}
	.gutter-md-20 {
		margin: -10px;
		}
	.gutter-md-20 > [class^="col"] {
		padding: 10px;
		}
	.gutter-md-30 {
		margin: -15px;
		}
	.gutter-md-30 > [class^="col"] {
		padding: 15px;
		}
	.gutter-md-50 {
		margin: -25px;
		}
	.gutter-md-50 > [class^="col"] {
		padding: 25px;
		}
	.gutter-md-80 {
		margin: -40px;
		}
	.gutter-md-80 > [class^="col"] {
		padding: 40px;
		}
	}
@include media-breakpoint-up(lg) {
	.gutter-lg-0 {
		margin: 0;
		}
	.gutter-lg-0 > [class^="col"] {
		padding: 0;
		}
	.gutter-lg-10 {
		margin: -5px;
		}
	.gutter-lg-10 > [class^="col"] {
		padding: 5px;
		}
	.gutter-lg-20 {
		margin: -10px;
		}
	.gutter-lg-20 > [class^="col"] {
		padding: 10px;
		}
	.gutter-lg-30 {
		margin: -15px;
		}
	.gutter-lg-30 > [class^="col"] {
		padding: 15px;
		}
	.gutter-lg-50 {
		margin: -25px;
		}
	.gutter-lg-50 > [class^="col"] {
		padding: 25px;
		}
	.gutter-lg-80 {
		margin: -40px;
		}
	.gutter-lg-80 > [class^="col"] {
		padding: 40px;
		}
	}
