/* ========================= */
/* ==========!HELP========== */
/* ========================= */

/* ----------!LIST---------- */
.ul-zero {
	margin-bottom: 0 !important;
    padding-left: 0 !important;
    list-style: none !important;
	}

/* ----------!COVER---------- */
.cover {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	}

/* ----------!FIT---------- */
.fit {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	object-fit: cover;
	}
.video.fit {
    width: 100%;
    height: 100%;
    }

/* ----------!ATTACHMENT---------- */
.attachment-fixed {
	background-attachment: fixed;
	}

/* ----------!BAR---------- */
.bar {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	}

/* ----------!IMAGE---------- */
.image {
	display: block;
	}

/* ----------!LOGO---------- */
.logo {
	display: inline-block;
	vertical-align: top;
	}

/* ----------!OVERLAY---------- */
.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	}

/* ----------!SHAPE---------- */
.circle,
.circle.image {
	border-radius: 50% !important;
	overflow: hidden;
	}

/* ----------!HIDDEN---------- */
@include media-breakpoint-up(xl) {
	.hidden-xl {
		display: none !important;
		}
	}

/* ----------!VISIBLE---------- */
.visible-xl-block {
	display: none !important;
	}
@include media-breakpoint-up(xl) {
	.visible-xl-block {
		display: block !important;
		}
	}

/* ========================= */
/* ==========!TEXT========== */
/* ========================= */

/* ----------!TRANSFORM---------- */
.lowercase {
	text-transform: lowercase !important;
	}
.uppercase {
	text-transform: uppercase !important;
	}
.capitalize {
	text-transform: capitalize !important;
	}

/* ----------!BREAK---------- */
.break {
	-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	   		hyphens: auto;
	}

/* ----------!LINK---------- */
.link {
	cursor: pointer !important;
	}
