/* ========================= */
/* ==========!ICON========== */
/* ========================= */

/* ----------!MAIN---------- */
.icon-circle .fa {
	border: 2px solid $color-charcoal;
	border-radius: 50%;
	margin-top: -5px;
	padding-top: 6px;
	width: 34px;
	height: 34px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	}
