/* ================================ */
/* ==========!INFORMATION========== */
/* ================================ */

/* ----------!AVATAR---------- */
.information .avatar {
	width: 100%;
	height: 260px;
	}

/* ----------!CONTACT---------- */
.information .contact .phone,
.information .contact .email,
.information .contact .website {
	display: block;
	}
