/* ========================== */
/* ==========!MODAL========== */
/* ========================== */

/* ----------!MAIN---------- */
.modal .modal-dialog {
    max-width: none;
    margin: 0;
	}
.modal .close {
    padding: 15px;
    line-height: 20px;
    color: $color-white;
    text-shadow: none;
    opacity: 0.2;
    }
.modal .close:hover,
.modal .close:focus {
    opacity: 0.8;
    }
.modal .close .fa {
    line-height: 15px;
    }

/* ----------!BACKDROP---------- */
.modal-backdrop.show {
    opacity: 0.8;
	}

/* ----------!TOTAL---------- */
.modal-total .modal-content {
    background-color: $color-transparent;
    border: 0 none $color-transparent;
    box-shadow: none;
	}
.modal-total .modal-content .modal-body {
	padding: 0;
	}

/* ----------!SEARCH---------- */
#modal-search .input-group > .form-control,
#modal-search .input-group > .input-group-addon,
#modal-search .input-group > .input-group-btn > .btn {
	height: 80px;
	padding: 10px 20px;
	font-size: 27px;
	line-height: 30px;
	}
#modal-search .input-group > .form-control {
	padding-right: 65px;
	z-index: 1;
	}
#modal-search .input-group > .form-submit {
    margin-left: -65px;
	width: 65px;
	z-index: 2;
	}
#modal-search .input-group > .input-group-btn > .btn {
	background-color: $color-transparent;
	border: 0 none $color-transparent !important;
	}
