/* ============================== */
/* ==========!OVERWRITE========== */
/* ============================== */

/* ----------!BUTTON---------- */
button,
.btn {
	margin: 0;
	}

/* ----------!NAVIGATION---------- */
.navbar-text {
	margin-top: 0;
	margin-bottom: 0;
	}
