@import "css/sprites/lane-icons";
@import "css/sprites/role-icons";

/* =========================== */
/* ==========!LAYOUT========== */
/* =========================== */

/* ----------!WIDTH---------- */
.affix-width,
.information {
    width: 305px;
	}

/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!ACTION---------- */
.action {
    @extend [class*="xs-15"];
    @extend .p-xs-15;
    margin: 0;
    font-weight: $font-weight-3;
    text-transform: uppercase;
    color: $color-text-cream-F1E6D0;
	}

/* ----------!TIP---------- */
.tip {
    background-color: $color-transparent;
    border: 0 none $color-transparent;
    padding: 16px !important;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    }
.tip:active,
.tip:hover,
.tip:focus {
    opacity: 1;
    }
.tip i {
    background-color: $color-text-bronze-5D4623;
    border-radius: 50% !important;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    color: $color-general-bronze-C8AA6E;
    display: block;
    overflow: hidden;
    }

/* =========================== */
/* ==========!BUTTON========== */
/* =========================== */

/* ----------!GENERAL---------- */
.btn {
    background-color: $color-transparent;
    border: 0 none $color-transparent;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    }
.btn > .first > .second {
    border: 1px solid $color-general-midnight-010C16;
    padding: 2px;
    }
.btn > .first > .second > .third {
    border: 1px solid $color-general-midnight-010C16;
    position: relative;
    }
.btn > .first > .second > .third::after,
.btn > .first > .second > .third > .fourth::after {
    @extend .overlay;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    content: '';
    }
.btn > .first > .second > .third > .fourth {
    padding: 2px;
    }

/* ----------!SIZE---------- */
.btn-lg > .first > .second {
    padding: 3px;
    }
.btn-lg > .first > .second > .third > .fourth {
    padding: 6px;
    }

/* ----------!TAB---------- */
.btn-tab > .cell > .membrane {
    width: 105px;
    height: 30px;
	}

/* ----------!DEFAULT---------- */
$gradient-btn-main-second-top: $color-general-bronze-C8A96C;
$gradient-btn-main-second-bottom: $color-general-bronze-7A5C29;

.btn-main {
    min-width: 82px;
    color: $color-text-yellow-CDBE91 !important;
    }
.btn-main > .first > .second,
.btn-main:hover > .first > .second {
    background: $gradient-btn-main-second-bottom; /* Old browsers */
    background: -moz-linear-gradient(top, $gradient-btn-main-second-top 1%, $gradient-btn-main-second-bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gradient-btn-main-second-top 1%,$gradient-btn-main-second-bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gradient-btn-main-second-top 1%,$gradient-btn-main-second-bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-btn-main-second-top', endColorstr='$gradient-btn-main-second-bottom',GradientType=0 ); /* IE6-9 */
    }
.btn-main > .first > .second > .third,
.btn-main:hover > .first > .second > .third {
    background-color: $color-general-grey-1E2328;
    }

/* ----------!REGISTER---------- */
$gradient-btn-register-second-top: $color-general-green-64F49E;
$gradient-btn-register-second-bottom: $color-general-green-09A646;

.btn-register {
    margin: 9px 15px !important;
    padding: 0 !important;
    min-width: 82px !important;
    line-height: 20px !important;
    color: $color-text-cream-F1E6D0 !important;
    }
.btn-register > .first > .second,
.btn-register:hover > .first > .second {
    background: $gradient-btn-register-second-bottom; /* Old browsers */
    background: -moz-linear-gradient(top, $gradient-btn-register-second-top 1%, $gradient-btn-register-second-bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gradient-btn-register-second-top 1%,$gradient-btn-register-second-bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gradient-btn-register-second-top 1%,$gradient-btn-register-second-bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-btn-register-second-top', endColorstr='$gradient-btn-register-second-bottom',GradientType=0 ); /* IE6-9 */
    }
.btn-register > .first > .second > .third,
.btn-register:hover > .first > .second > .third {
    background-color: $color-general-midnight-010C16;
    }

/* ----------!LOCK-IN---------- */
$gradient-btn-lock-in-second-top: $color-general-blue-BEF6F5;
$gradient-btn-lock-in-second-bottom: $color-general-blue-257EA3;
$gradient-btn-lock-in-third-top: $color-general-midnight-010C16;
$gradient-btn-lock-in-third-bottom: $color-general-midnight-010C16-80;

.btn-lock-in {
    color: $color-text-blue-B2D9DB !important;
    }
.btn-lock-in > .first > .second,
.btn-lock-in:hover > .first > .second {
    background: $gradient-btn-lock-in-second-bottom; /* Old browsers */
    background: -moz-linear-gradient(top, $gradient-btn-lock-in-second-top 1%, $gradient-btn-lock-in-second-bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gradient-btn-lock-in-second-top 1%,$gradient-btn-lock-in-second-bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gradient-btn-lock-in-second-top 1%,$gradient-btn-lock-in-second-bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-btn-lock-in-second-top', endColorstr='$gradient-btn-lock-in-second-bottom',GradientType=0 ); /* IE6-9 */
    }
.btn-lock-in > .first > .second > .third,
.btn-lock-in:hover > .first > .second > .third {
    background: $gradient-btn-lock-in-third-bottom; /* Old browsers */
    background: -moz-linear-gradient(top, $gradient-btn-lock-in-third-top 1%, $gradient-btn-lock-in-third-bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gradient-btn-lock-in-third-top 1%,$gradient-btn-lock-in-third-bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gradient-btn-lock-in-third-top 1%,$gradient-btn-lock-in-third-bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-btn-lock-in-second-top', endColorstr='$gradient-btn-lock-in-second-bottom',GradientType=0 ); /* IE6-9 */
    }
.btn-lock-in > .first > .second > .third::after {
    background-image: url('../img/effect-noise-large.png');
    opacity: 0.1;
    }
.btn-lock-in > .first > .second > .third > .fourth::after {
    background-image: url('../img/effect-magic.png');
    background-size: cover;
    opacity: 0.2;
    }

/* ========================= */
/* ==========!CELL========== */
/* ========================= */

/* ----------!GENERAL---------- */
.cell {
    background-color: $color-form-grey-0C0C14;
    border: 1px solid $color-general-midnight-010C16;
    color: $color-text-bronze-5D4623;
	}
.cell > .membrane > .nucleus {
    width: 100%;
    height: 100%;
	}
.cell > .membrane {
    border: 1px solid $color-general-grey-3C3C41;
	}
.cell > .membrane > .nucleus {
    border: 1px solid $color-general-midnight-010C16;
    position: relative;
    overflow: hidden;
	}
.cell > .membrane > .nucleus > .icon-lane {
    opacity: 0.3;
	}

/* ----------!ACTIVE---------- */
.active > .cell {
    color: $color-text-cream-F1E6D0;
	}
.active > .cell > .membrane {
    border-color: $color-general-blue-09BCD6;
	}
.active > .cell > .membrane > .nucleus > .icon-lane {
    opacity: 1;
	}
.active > .cell > .membrane > .nucleus > .champion-avatar {
    opacity: 0.5;
	}

/* ========================= */
/* ==========!LINK========== */
/* ========================= */

/* ----------!GENERAL---------- */
.link {
    font-weight: $font-weight-3;
    }

/* ----------!TO-REGISTER---------- */
.link.to-register {
    text-decoration: underline !important;
    color: $color-text-green-38A53D !important;
    }

/* ============================= */
/* ==========!CHAMPION========== */
/* ============================= */

/* ----------!NAME---------- */
.champion-name {
    @extend [class*="xs-15"];
    @extend .p-xs-15;
    margin: 0;
    text-transform: capitalize;
	}

/* ================================ */
/* ==========!COMPOSITION========== */
/* ================================ */

/* ----------!GENERAL---------- */
.composition-picks > .pick,
.composition-bans > .ban {
    cursor: pointer;
	}

/* ----------!PICK---------- */
.composition-picks > .pick + .pick {
    margin-top: 19px;
	}
.composition-picks > .pick > .cell {
    margin-right: 20px;
	}
.composition-picks > .pick > .cell > .membrane {
    width: 80px;
    height: 80px;
	}
.composition-picks > .pick > .cell > .membrane > .nucleus > .icon-lane {
    width: 40px;
    height: 40px;
	}
.composition-picks > .pick > .cell > .membrane > .nucleus > .champion-avatar {
    width: 88px;
    height: 88px;
	}

/* ----------!BAN---------- */
.composition-bans > .ban > .cell > .membrane {
    width: 50px;
    height: 50px;
	}
.composition-bans > .ban > .cell > .membrane > .nucleus > .icon-lane {
    width: 25px;
    height: 25px;
	}
.composition-bans > .ban > .cell > .membrane > .nucleus > .champion-avatar {
    width: 53px;
    height: 53px;
	}

/* ----------!SPACE---------- */
.composition-picks + .composition-bans {
	margin-top: 50px;
	}
.composition-bans + .btn {
	margin-top: 80px;
	}

/* ================================ */
/* ==========!INFORMATION========== */
/* ================================ */

/* ----------!GENERAL---------- */
.information {
    text-align: center;
    }
.information .title {
    color: $color-text-gold-937341;
    }

/* ----------!WELCOME---------- */
.information-welcome .offset-cell + .title,
.information-welcome .offset-cell + .description {
    padding-top: 29px;
    }
.information-welcome .title {
    @extend [class*="xs-15"];
    @extend .p-xs-15;
    }
.information-welcome .description {
    @extend [class*="xs-10"];
    @extend .p-xs-10;
    }
.information-welcome .title + .description {
    padding-top: 15px;
    }
.information-welcome .link {
    @extend [class*="xs-10"];
    @extend .p-xs-10;
    display: inline-block;
    }
.information-welcome .description + .link {
    margin-top: 25px;
    }

/* ----------!CHAMPION---------- */
.information-champion .offset-cell + .title,
.information-champion .offset-cell + .description {
    padding-top: 30px;
    }
.information-champion .title {
    @extend [class*="xs-25"];
    @extend .p-xs-25;
    }
.information-champion .description {
    @extend [class*="xs-15"];
    @extend .p-xs-15;
    }

/* =========================== */
/* ==========!OFFSET========== */
/* =========================== */

/* ----------!CELL---------- */
.offset-cell,
.composition-picks > .pick,
.composition-bans > .ban,
.btn-lock-in > .first {
    margin: -1px;
	}

/* ========================= */
/* ==========!AREA========== */
/* ========================= */

/* ----------!COMPOSITION---------- */
#composition {
    user-select: none;
	}

/* ----------!FORM-COMPOSITION---------- */
#form-composition {
	padding-top: 80px;
	padding-bottom: 340px;
	}
#form-composition .section-title {
	text-align: center;
	}
#form-composition .section-title + .form-group,
#form-composition .section-title + .form-action,
#form-composition .section-title + .strategy-group,
#form-composition .section-title + .strategy-action {
	padding-top: 30px;
	}
#form-composition .strategy-group + .strategy-group {
	padding-top: 50px;
	}
#form-composition .strategy-group + .strategy-action,
#form-composition .form-action + .form-group {
	margin-top: 20px;
	}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body,
#body::after {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	}
#body {
	background-image: url('../img/background-magic.png');
    background-position: center bottom;
	}
#body::after {
    @extend .overlay;
    background-image: url('../img/background-map.jpg');
    background-position: center;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
    content: '';
    }

/* ----------!HEADER---------- */
$header-column-width: 210px;

#header .logo {
    margin-right: $header-column-width - 153;
    position: relative;
	color: $color-text-iron-A09A8E !important;
	}
#header .logo::after {
    position: absolute;
    top: 12px;
    left: 85px;
	content: url('../img/blue.png');
	}
#header .account {
    min-width: $header-column-width;
	}

/* --------------------------------------------------------- */
/* ----------!BELOW-THIS-LINE-ARE-TEMPORARY-STYLES---------- */
/* --------------------------------------------------------- */

/* ============================= */
/* ==========!CHAMPION========== */
/* ============================= */

/* ----------!GRID---------- */
.champion-grid {
    margin: 0;
    padding: 15px;
    height: 390px;
    overflow-y: scroll;

    .champion {
        max-width: 120px;

        .champion-profile {
            width: 80px;
            cursor: pointer;
        }

        .champion-image {
            width: 48px;
            height: 48px;
        }

        .champion-name {
            @extend [class*="xs-10"];
            @extend .p-xs-10;
        }
    }

    .wildcard {
        max-width: 120px;

        .wildcard-item {
            width: 80px;
            cursor: pointer;
            border: 2px solid black;
        }

        .role-wildcard {
            display: inline-block;
            margin-top: 10px;
        }
    }
}
.champion-grid .champion .champion-image + .champion-name {
    padding-top: 10px;
}

/* ----------!FILTER---------- */
.role .role-icon {
    cursor: pointer;
    }
#form-filter-champion {
    padding-bottom: 30px;
}

/*----------- !Compositions View (Home) --------*/
.composition-article {

	.composition-details {
		padding: 30px;

		.composition-pick {
			min-width: 450px;
			padding: 0;
			margin: 0;
			text-align: center;

			.pick {
				display: inline-block;
				margin: 0 12px 0 0;
				width: 70px;
			}
		}
	}
}

.input-group-prepend {
	.input-group-text {
		margin-top: 0px;
	}
}
