@import "css/sprites/_lane-icons.scss";
@import "css/sprites/_role-icons.scss";

/* =============================== */
/* ==========!NAVIGATION========== */
/* =============================== */

$champ-size: 60px;
$padding-md: 10px;

/* ----------!NAVBAR---------- */
.navbar .navbar-brand:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    background-color: $color-transparent;
    color: $color-metal;
}

/* ============================= */
/* ==========!CHAMPION========== */
/* ============================= */

/* ----------!GRID---------- */
.champion-grid {
    margin: 0;
    padding: 15px;
    height: 550px;
    overflow-y: scroll;
}
.champion-grid .champion {
    max-width: 120px;
}
.champion-grid .champion .champion-profile {
    width: 80px;
    cursor: pointer;
}
.champion-grid .champion .champion-image {
    width: 48px;
    height: 48px;
}
.champion-grid .champion .champion-name {
    @extend [class*="xs-10"];
    @extend .p-xs-10;
}
.champion-grid .champion .champion-image + .champion-name {
    padding-top: $padding-md;
}

/* ----------!FILTER---------- */
.role {
    margin-left: -5px;
    margin-right: -5px;
	padding: 0;
	list-style: none;
}
.role .role-icon {
    margin: 0 5px !important;
    padding-top: 0 !important;
    cursor: pointer;
}
#form-filter-champion {
    padding-bottom: 30px;
}

/* ================================ */
/* ==========!COMPOSITION========== */
/* ================================ */

/* ----------!TEAM COMP---------- */
.team-selection {
    width: 100%;
}

.team-composition {
    list-style-type: none;
    flex-direction: column;
    padding: 0 20px;

    .champion-selection {
        height: 64px;
        margin: 8px;
    }
}

.champion-selection.highlight {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.champion-selection .champion-image {
    width: $champ-size;
    height: $champ-size;
    padding-right: $padding-md;
}

.champion-selection .champion-lane {
    text-transform: capitalize;
    padding-right: $padding-md;
}

/*----------- !Team View --------------*/
.champ-row-bg {
    background: #474747;
    background: -webkit-linear-gradient(left, #474747 0%, #0d0d0d 15%, #010101 51%, #0a0a0a 85%, #474747 100%);
    background: linear-gradient(to right, #474747 0%, #0d0d0d 15%, #010101 51%, #0a0a0a 85%, #474747 100%);
}
