@import "css/sprites/lane-icons";
@import "css/sprites/role-icons";

/* ============================= */
/* ==========!CHAMPION========== */
/* ============================= */

/* ----------!NAME---------- */
.champion-name {
    text-transform: capitalize;
	}

/* ================================ */
/* ==========!COMPOSITION========== */
/* ================================ */

/* ----------!PICK---------- */
.composition-picks .pick + .pick {
    padding-top: 20px;
	}

/* ----------!BUTTON---------- */
#composition ul + .btn {
	margin-top: 80px;
	}

/* ========================= */
/* ==========!AREA========== */
/* ========================= */

/* ----------!FORM-COMPOSITION---------- */
#form-composition {
	padding-top: 80px;
	padding-bottom: 340px;
	}
#form-composition .section-title {
	text-align: center;
	}
#form-composition .section-title + .form-group,
#form-composition .section-title + .form-action,
#form-composition .section-title + .strategy-group,
#form-composition .section-title + .strategy-action {
	padding-top: 30px;
	}
#form-composition .strategy-group + .strategy-group {
	padding-top: 50px;
	}
#form-composition .strategy-group + .strategy-action,
#form-composition .form-action + .form-group {
	margin-top: 20px;
	}

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body {
	background-image: url('../img/background-magic.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	}



/* --------------------------------------------------------- */
/* ----------!BELOW-THIS-LINE-ARE-TEMPORARY-STYLES---------- */
/* --------------------------------------------------------- */

/* ----------!TIP---------- */
.tip {
	background-color: $color-text-bronze-5D4623;
	color: $color-general-bronze-C8AA6E;
}

/* ----------!WELCOME---------- */
.welcome {

	.title {
		@extend [class*="xs-15"];
		@extend .p-xs-15;
		color: $color-text-gold-937341;
	}

	.description {
		@extend [class*="xs-10"];
		@extend .p-xs-10;
	}

	.title + .description {
		padding-top: 20px;
	}
}

/* =============================== */
/* ==========!NAVIGATION========== */
/* =============================== */

$champ-size: 80px;
$padding-md: 10px;

/* ----------!NAVBAR---------- */
.navbar .navbar-brand:active,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    background-color: $color-transparent;
    color: $color-metal;
}

/* ============================= */
/* ==========!CHAMPION========== */
/* ============================= */

/* ----------!GRID---------- */
.champion-grid {
    margin: 0;
    padding: 15px;
    height: 390px;
    overflow-y: scroll;

    .champion {
        max-width: 120px;

        .champion-profile {
            width: 80px;
            cursor: pointer;
        }

        .champion-image {
            width: 48px;
            height: 48px;
        }

        .champion-name {
            @extend [class*="xs-10"];
            @extend .p-xs-10;
        }
    }

    .wildcard {
        max-width: 120px;

        .wildcard-item {
            width: 80px;
            cursor: pointer;
            border: 2px solid black;
        }

        .role-wildcard {
            display: inline-block;
            margin-top: 10px;
        }
    }
}
.champion-grid .champion .champion-image + .champion-name {
    padding-top: $padding-md;
}

/* ----------!FILTER---------- */
.role {
    margin-left: -5px;
    margin-right: -5px;
	padding: 0;
	list-style: none;
}
.role .role-icon {
    margin: 0 5px !important;
    padding-top: 0 !important;
    cursor: pointer;
}
#form-filter-champion {
    padding-bottom: 30px;
}

.champion-selection .champion-image {
    width: $champ-size;
    height: $champ-size;
    margin-right: 20px;
}
