/* ========================== */
/* ==========!QUOTE========== */
/* ========================== */

/* ----------!MAIN---------- */
.quote blockquote {
	border-left: 0 none $color-transparent;
	margin: 0;
	padding: 0;
	text-align: center;
	}
