/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!MAIN---------- */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	line-height: inherit;
	}

/* ----------!LAYOUT---------- */
.table-fixed {
    table-layout: fixed;
    }

/* ============================ */
/* ==========!DISPLAY========== */
/* ============================ */

/* ----------!MAIN---------- */
.display-table {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
	}
.display-table .display-cell {
	width: 1%;
	display: table-cell;
	vertical-align: middle;
	}

/* ----------!SIZE---------- */
.display-table-50 .display-cell {
	width: 50%;
	}
@include media-breakpoint-down(xs) {
	.display-table-50 .display-cell {
		width: 100%;
		display: block;
		}
	.display-table-50 .display-cell + .display-cell {
		padding-top: 50px;
		}
	}
@include media-breakpoint-up(sm) {
	.display-table-50 .display-cell:nth-child(odd) {
		padding-right: 10px;
		}
	.display-table-50 .display-cell:nth-child(even) {
		padding-left: 10px;
		}
	}

/* ========================== */
/* ==========!STYLE========== */
/* ========================== */
