/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!MAIN---------- */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	line-height: inherit;
	}

/* ----------!LAYOUT---------- */
.table-fixed {
    table-layout: fixed;
    }

/* ============================ */
/* ==========!DISPLAY========== */
/* ============================ */

/* ----------!MAIN---------- */
.display-table {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
	}
.display-table .display-cell {
	width: 1%;
	display: table-cell;
	vertical-align: middle;
	}

/* ----------!SIZE---------- */
.display-table-50 .display-cell {
	width: 50%;
	}
@include media-breakpoint-down(xs) {
	.display-table-50 .display-cell {
		width: 100%;
		display: block;
		}
	.display-table-50 .display-cell + .display-cell {
		padding-top: 50px;
		}
	}
@include media-breakpoint-up(sm) {
	.display-table-50 .display-cell:nth-child(odd) {
		padding-right: 10px;
		}
	.display-table-50 .display-cell:nth-child(even) {
		padding-left: 10px;
		}
	}

/* ========================== */
/* ==========!STYLE========== */
/* ========================== */

/* ----------!BASE---------- */
.table-style {
	background-color: $color-white;
	margin: 0;
	}
.table-style,
.table-style td,
.table-style th,
.table-style thead th {
	border-color: $color-smoke;
	}
.table-style td,
.table-style th {
	padding: 9px 14px !important;
	line-height: $line-height-text !important;
	vertical-align: middle !important;
	}
.table-style thead td,
.table-style thead th {
	border-bottom-width: 1px;
	}
.table-style tbody tr:nth-of-type(odd) {
	background-color: $color-phantom;
	}

/* ----------!SIZE---------- */
.table-size-80 td,
.table-size-80 th {
	padding: 24px 19px !important;
	}
