/* ========================= */
/* ==========!FONT========== */
/* ========================= */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

$font-family-1: 'Roboto Condensed', sans-serif;
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 700;

/* ----------!GLOBAL---------- */
body {
	font-family: $font-family-1;
	font-weight: $font-weight-2;
	color: $color-text-iron-A09A8E;
	}

/* ----------!HEADING---------- */
h1 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
h2,
h3 {
	@extend [class*="xs-20"];
	@extend .h-xs-20;
	}
h4 {
	@extend [class*="xs-15"];
	@extend .h-xs-15;
	color: $color-text-gold-937341;
	}
h5,
h6 {
	@extend [class*="xs-10"];
	@extend .h-xs-10;
	}

/* ----------!PARAGRAPH---------- */
p {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ----------!LIST---------- */
ol#{$not-list},
ul#{$not-list} {
	padding-left: 20px;
	}
@include media-breakpoint-up(md) {
	ol#{$not-list},
	ul#{$not-list} {
		padding-left: 50px;
		}
	}
ol#{$not-list} > li,
ul#{$not-list} > li {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ----------!ANCHOR---------- */
a {
	font-weight: $font-weight-2;
	color: $color-general-blue-09BCD6;
	}
a:active:not([class*="btn"]),
a:hover:not([class*="btn"]),
a:focus:not([class*="btn"]) {
	text-decoration: none;
	color: $color-general-blue-09BCD6;
	}

/* ----------!UNDERLINE---------- */
u {
	color: $color-blue-400;
	}

/* ----------!BLOCKQUOTE---------- */
blockquote {
	border-left: 5px solid $color-ghost;
	padding: 20px 25px;
	}

/* ----------!FORM---------- */
label {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ========================== */
/* ==========!CLASS========== */
/* ========================== */

/* ----------!BACKGROUND---------- */
.background-image .zone {
	color: $color-white;
	}

/* ========================= */
/* ==========!TYPE========== */
/* ========================= */

/* ----------!TITLE---------- */
.title {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}

/* ----------!HEADLINE---------- */
.headline {
	@extend [class*="xs-15"];
	@extend .h-xs-15;
	}
@include media-breakpoint-up(md) {
	.headline {
		@extend [class*="md-20"];
		@extend .h-md-20;
		}
	}

/* ----------!META---------- */
.meta {
	@extend [class*="xs-10"];
	@extend .h-xs-10;
	}

/* ========================= */
/* ==========!PART========== */
/* ========================= */

/* ----------!BUTTON---------- */
button,
.btn {
	@extend .p-xs-10;
	}
.btn-lg,
.btn-group-lg > .btn {
	@extend .p-xs-15;
	}

/* ----------!MORE---------- */
.more {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	display: block;
	}

/* ----------!CARD---------- */
.card-panel .card-body {
	font-weight: $font-weight-1 !important;
	color: $color-metal !important;
	}

/* ----------!COPYRIGHT---------- */
.copyright,
.copyright > a {
	text-transform: none;
	color: $color-text-grey-434647 !important;
	}

/* ========================= */
/* ==========!UNIT========== */
/* ========================= */

/* ----------!LOADER---------- */
.loader {
	@extend .p-xs-15;
	height: auto;
	font-weight: $font-weight-1;
	}
.loader-label {
	margin: 0;
	}

/* ----------!TOAST---------- */
.toast-message {
	@extend .p-xs-15;
	margin: 0;
	}

/* ----------!TABLE---------- */
.table td,
.table th {
	@extend .p-xs-15;
	}
.table th {
	font-weight: $font-weight-2;
	}
.table tbody th {
	font-weight: $font-weight-1;
	}

/* =========================== */
/* ==========!WIDGET========== */
/* =========================== */

/* ----------!SOCIAL---------- */
.social > li > a {
	@extend .p-xs-20;
	margin: 0;
	}
.social > li > a > .fa {
	width: 25px;
	}

/* ============================== */
/* ==========!COMPONENT========== */
/* ============================== */

/* ----------!CAROUSEL---------- */
.carousel h1 {
	@extend [class*="xs-40"];
	@extend .h-xs-40;
	}
.carousel h2 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
@include media-breakpoint-up(md) {
	.carousel h1 {
		@extend [class*="md-50"];
		@extend .h-md-50;
		}
	.carousel h2 {
		@extend [class*="md-40"];
		@extend .h-md-40;
		}
	.carousel h3 {
		@extend [class*="md-30"];
		@extend .h-md-30;
		}
	.carousel h1 + p {
		@extend [class*="md-20"];
		@extend .p-md-20;
		}
	}

/* ----------!HERO---------- */
.hero h1 {
	@extend [class*="xs-40"];
	@extend .h-xs-40;
	}
.hero h2 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
@include media-breakpoint-up(md) {
	.hero h1 {
		@extend [class*="md-50"];
		@extend .h-md-50;
		}
	.hero h2 {
		@extend [class*="md-40"];
		@extend .h-md-40;
		}
	.hero h3 {
		@extend [class*="md-30"];
		@extend .h-md-30;
		}
	.hero h1 + p {
		@extend [class*="md-20"];
		@extend .p-md-20;
		}
	}
.hero .scroll {
	padding-bottom: 15px;
	}
.hero .scroll a {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	color: $color-white;
	}

/* ========================== */
/* ==========!STYLE========== */
/* ========================== */

/* ----------!BOLD---------- */
.bold {
	font-weight: $font-weight-3 !important;
	}
