/* ========================= */
/* ==========!FONT========== */
/* ========================= */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

$font-family-1: 'Roboto Condensed', sans-serif;
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 700;

/* ----------!GLOBAL---------- */
body {
	font-family: $font-family-1;
	font-weight: $font-weight-1;
	color: $color-metal;
	}

/* ----------!HEADING---------- */
h1 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
h2,
h3 {
	@extend [class*="xs-20"];
	@extend .h-xs-20;
	}
h4 {
	@extend [class*="xs-15"];
	@extend .h-xs-15;
	}
h5,
h6 {
	@extend [class*="xs-10"];
	@extend .h-xs-10;
	}

/* ----------!PARAGRAPH---------- */
p {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ----------!LIST---------- */
ol,
ul {
	padding-left: 20px;
	}
@include media-breakpoint-up(md) {
	ol,
	ul {
		padding-left: 50px;
		}
	}
ol:not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pager"]):not([class*="carousel-indicators"]) > li,
ul:not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pager"]):not([class*="carousel-indicators"]) > li {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ----------!ANCHOR---------- */
a {
	font-weight: $font-weight-2;
	color: $color-blue-400;
	}
a:active,
a:hover,
a:focus {
	text-decoration: none;
	color: $color-blue-300;
	}

/* ----------!UNDERLINE---------- */
u {
	color: $color-blue-400;
	}

/* ----------!BLOCKQUOTE---------- */
blockquote {
	border-left: 5px solid $color-ghost;
	padding: 20px 25px;
	}

/* ----------!FORM---------- */
label {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	}

/* ========================== */
/* ==========!CLASS========== */
/* ========================== */

/* ----------!BACKGROUND---------- */
.background-image .zone {
	color: $color-white;
	}

/* ========================= */
/* ==========!TYPE========== */
/* ========================= */

/* ----------!TITLE---------- */
.title {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}

/* ----------!HEADLINE---------- */
.headline {
	@extend [class*="xs-15"];
	@extend .h-xs-15;
	}
@include media-breakpoint-up(md) {
	.headline {
		@extend [class*="md-20"];
		@extend .h-md-20;
		}
	}

/* ----------!META---------- */
.meta {
	@extend [class*="xs-10"];
	@extend .h-xs-10;
	}

/* ----------!LINK---------- */
.link {
	font-weight: $font-weight-2 !important;
	color: $color-blue-400 !important;
	}

/* ========================= */
/* ==========!PART========== */
/* ========================= */

/* ----------!BUTTON---------- */
button,
.btn {
	@extend .p-xs-10;
	}
.btn-lg,
.btn-group-lg > .btn {
	@extend .p-xs-15;
	}

/* ----------!MORE---------- */
.more {
	@extend [class*="xs-15"];
	@extend .p-xs-15;
	display: block;
	}

/* =========================== */
/* ==========!WIDGET========== */
/* =========================== */

/* ----------!SOCIAL---------- */
.social > li > a {
	@extend .p-xs-20;
	margin: 0;
	}
.social > li > a > .fa {
	width: 25px;
	}

/* ============================== */
/* ==========!COMPONENT========== */
/* ============================== */

/* ----------!ACCORDION---------- */
.accordion .card-list .card .card-header .card-title {
	@extend .h-xs-20;
	margin: 0;
	}
.accordion .card-list .card .card-header .card-title .arrow {
	font-weight: $font-weight-3;
	}

/* ----------!CAROUSEL---------- */
.carousel h1 {
	@extend [class*="xs-40"];
	@extend .h-xs-40;
	}
.carousel h2 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
@include media-breakpoint-up(md) {
	.carousel h1 {
		@extend [class*="md-50"];
		@extend .h-md-50;
		}
	.carousel h2 {
		@extend [class*="md-40"];
		@extend .h-md-40;
		}
	.carousel h3 {
		@extend [class*="md-30"];
		@extend .h-md-30;
		}
	.carousel h1 + p {
		@extend [class*="md-20"];
		@extend .p-md-20;
		}
	}

/* ----------!HERO---------- */
.hero h1 {
	@extend [class*="xs-40"];
	@extend .h-xs-40;
	}
.hero h2 {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	}
@include media-breakpoint-up(md) {
	.hero h1 {
		@extend [class*="md-50"];
		@extend .h-md-50;
		}
	.hero h2 {
		@extend [class*="md-40"];
		@extend .h-md-40;
		}
	.hero h3 {
		@extend [class*="md-30"];
		@extend .h-md-30;
		}
	.hero h1 + p {
		@extend [class*="md-20"];
		@extend .p-md-20;
		}
	}
.hero .scroll {
	padding-bottom: 15px;
	}
.hero .scroll a {
	@extend [class*="xs-30"];
	@extend .h-xs-30;
	color: $color-white;
	}

/* ========================== */
/* ==========!STYLE========== */
/* ========================== */

/* ----------!BOLD---------- */
.bold {
	font-weight: $font-weight-3 !important;
	}
